@model List<Product>


<div class="container-fluid mb-2">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Product List</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Product" asp-action="Upsert" class="btn btn-sm btn-primary">
				<i class="fs-6 bi bi-plus-circle px-1"></i>Create Product
			</a>
		</div>
	</div>
</div>

<table class="table table-bordered shadow-sm tblData" data-url="/admin/product/getall"></table>

@section Scripts {
	<script src="~/js/Product.js"></script>
}