@page
@model AccessDeniedModel
@{
	ViewData["Title"] = "Access denied";
}

<style>

	body {
		background: var(--bs-danger);
		margin: 0;
	}

	.border-top, .border-bottom {
		border-top: none !important;
		border-bottom: none !important
	}
</style>

<header class="d-flex align-items-center justify-content-center min-vh-100">
	<div class="text-center">
		<h1 class="fs-1 fw-bolder text-light">@ViewData["Title"]</h1>
		<p class="text-light">You do not have access to this resource.</p>
	</div>
</header>
