@page
@model ForgotPasswordConfirmation
@{
	ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="relative min-h-90 h-full w-full flex flex-col justify-center items-center my-40 bg-white rounded-lg p-4">
	<div class="p-3 text-center">
		<div class="flex justify-center mb-4">

			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-40 text-gray-800">
				<path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
			</svg>


		</div>

		<h1 class="text-slate-800 text-2xl font-semibold">@ViewData["Title"]</h1>
		<p class="text-slate-600 leading-normal font-light mb-4 max-w-lg">
			We've sent a password reset link to your email. Please check your inbox and follow the instructions.
		</p>

		<a asp-page="./Login" class="min-w-32 rounded-md bg-slate-800 py-2 px-4 text-sm text-white transition-all hover:bg-slate-700">
			Back to Login
		</a>

		<div class="text-sm text-gray-500 mt-5">
			Didn't receive the email? <a asp-page="./ForgotPassword" class="text-gray-600 hover:underline"><b>Resend</b></a>
		</div>

	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
