.image-slide {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-track-container {
    cursor: grab;
}

    .image-track-container:active {
        cursor: grabbing;
    }

.image-track {
    transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.image {
    transition: object-position 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}
