html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar {
    --bs-navbar-padding-y: 0.6rem !important;
}

.table th, .table td {
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
}

.btn:first-child:active:focus-visible {
    box-shadow: none;
}

.form-control:focus, .btn:focus {
    box-shadow: 0 0 0 0.1rem #858585, 0 0 0 0.25rem #ffffff !important;
}


select option:hover {
    background-color: red !important;
    color: white;
}


select option:checked {
    background-color: #55595c !important;
    color: white;
}

table.table.dataTable > tbody > tr.selected > * {
    box-shadow: inset 0 0 0 9999px rgb(247 247 249) !important;
    color: rgb(26 26 26) !important;
}

div.dt-processing > div:last-child > div {
    background: rgb(26 26 26) !important;
}
