@page
@model E_Commerce_Temp.Pages.Categories.DeleteModel

<div class="container">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Delete Category</h2>
		</div>
	</div>
</div>


<form method="post">
	<input type="hidden" asp-for="Category.Id" />
	<div class="border p-3 mt-2">
		<input asp-for="Category.Id" hidden />
		<div class="mb-3 p-1">
			<label asp-for="Category.Name" class="p-0"></label>
			<input asp-for="Category.Name" class="form-control" type="text" disabled />
		</div>

		<div class="mb-3 p-1">
			<label asp-for="Category.DisplayOrder" class="p-0"></label>
			<input asp-for="Category.DisplayOrder" class="form-control" type="text" disabled />
		</div>

		<div class="row d-flex justify-content-between">
			<div class="col-6">
				<a asp-page="/Categories/Index" class="btn btn-secondary btn-sm border">
					<i class="fs-6 p-1 bi bi-arrow-return-left"></i>
					Back to List
				</a>
			</div>
			<div class="col-6 text-end">
				<button class="btn btn-sm btn-danger" type="submit">Delete</button>
			</div>
		</div>
	</div>
</form>