@{
	ViewData["Title"] = "Category";
}

@model Category
<div class="container mx-auto p-4">
	<div class="flex justify-between items-center pb-4">
		<h2 class="text-2xl font-bold text-indigo-600">@((Model.Id > 0 ? "Update " : "Create ") + ViewData["Title"])</h2>
	</div>
</div>

<form method="post" class="space-y-4">
	<input type="hidden" asp-for="@Model.Id" />

	<div class="bg-white rounded-md p-6 space-y-6 border border-slate-200">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
			<div>
				<label asp-for="Name" class="block text-gray-700 font-medium"></label>
				<input asp-for="Name" type="text" class="w-full p-3 border rounded-md focus:ring-1 focus:ring-indigo-500 outline-none shadow-sm transition duration-300 ease-in-out hover:border-indigo-500" />
				<span class="text-sm text-red-500" asp-validation-for="Name"></span>
			</div>

			<div>
				<label asp-for="DisplayOrder" class="block text-gray-700 font-medium"></label>
				<input asp-for="DisplayOrder" type="text" class="w-full p-3 border rounded-md focus:ring-1 focus:ring-indigo-500 outline-none shadow-sm transition duration-300 ease-in-out hover:border-indigo-500" />
				<span class="text-sm text-red-500" asp-validation-for="DisplayOrder"></span>
			</div>
		</div>

		<div class="flex items-center justify-between mt-4">
			<a asp-controller="Category" asp-action="Index" class="text-gray-600 hover:text-indigo-500 font-medium flex items-center">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1">
					<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
				</svg>
				Back to List
			</a>

			<div class="ml-auto flex space-x-2">
				@if (Model.Id == 0)
				{
					<button type="reset" class="btn-primary-outline">Clear</button>
					<button type="submit" class="btn-indigo">Create</button>
				}
				else
				{
					<button type="submit" class="btn-indigo">Update</button>
				}
			</div>
		</div>

	</div>
</form>


@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial"></partial>
	}
}