@using Microsoft.AspNetCore.Identity
@using ECom.Models
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor ContextAccessor

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    int? CartCount = ContextAccessor.HttpContext.Session.GetInt32(SD.ShoppingCartSessionKey);
}

<ul class="flex items-center space-x-4">
    @if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);
        var Username = currentUser?.Name ?? currentUser?.UserName ?? "Guest";

        <li>
            <a id="manage" class="flex items-center space-x-2 text-gray-700 hover:text-gray-900 px-4 hover:bg-gray-50 rounded-md transition-all ease duration-200" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="bi bi-person-circle text-xl"></i>
                <span class="text-gray-700 text-sm font-semibold my-2 px-1">Hello @Username!</span>
            </a>
        </li>
        <li class="relative">
            <a class="flex items-center text-gray-700 hover:text-gray-900" asp-area="Customer" asp-controller="Cart" asp-action="Index">
                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                </svg>

                <!-- Cart count badge -->
                <div class="absolute -top-3 left-4 flex items-center justify-center text-xs font-bold text-white bg-red-500 rounded-full w-5 h-5  shadow">
                    @CartCount
                </div>
            </a>
        </li>

        <li>
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="text-gray-700 text-sm font-semibold my-2 p-2 rounded-md hover:bg-gray-50">
                    Logout <i class="bi bi-caret-right-fill"></i>
                </button>
            </form>
        </li>
    }
    else
    {
        <!-- Show as dropdown on large screens -->
        <li class="relative hidden md:block" id="dropdownWrapper">
            <a class="flex items-center space-x-2 text-gray-700 text-sm font-semibold my-2 p-2 rounded-md hover:bg-gray-50" id="loginDropdown">
                <span>Login &rarr;</span>
            </a>
            <ul id="dropdownMenu" class="absolute z-40 opacity-0 invisible bg-white shadow-sm border rounded-lg p-2 w-40 transition-opacity duration-300 ease-in-out">
                <li>
                    <a class="flex items-center px-3 py-2 hover:bg-gray-50 rounded-md text-gray-700 text-sm font-semibold" id="login" asp-area="Identity" asp-page="/Account/Login">
                        <i class="bi bi-person-circle text-lg mr-2"></i>
                        Login
                    </a>
                </li>
                <li>
                    <a class="flex items-center px-3 py-2 hover:bg-gray-50 rounded-md text-gray-700 text-sm font-semibold" id="register" asp-area="Identity" asp-page="/Account/Register">
                        <i class="bi bi-person-plus-fill text-lg mr-2"></i>
                        Register
                    </a>
                </li>
            </ul>
        </li>

        <!-- Show as side-by-side buttons on small screens -->
        <div class="flex space-x-2 md:hidden mt-3">
            <a class="flex items-center px-3 py-2 hover:bg-gray-50 rounded-md text-gray-700 text-sm font-semibold" id="login" asp-area="Identity" asp-page="/Account/Login">
                <i class="bi bi-person-circle text-lg mr-2"></i>
                Login
            </a>
            <a class="flex items-center px-3 py-2 hover:bg-gray-50 rounded-md text-gray-700 text-sm font-semibold" id="register" asp-area="Identity" asp-page="/Account/Register">
                <i class="bi bi-person-plus-fill text-lg mr-2"></i>
                Register
            </a>
        </div>
    }
</ul>

<script defer>
    let dropdownWrapper = document.getElementById("dropdownWrapper");
    let dropdownMenu = document.getElementById("dropdownMenu");

    dropdownWrapper?.addEventListener("mouseenter", function () {
        dropdownMenu?.classList.remove("opacity-0", "invisible");
        dropdownMenu?.classList.add("opacity-100", "visible");
    });

    dropdownWrapper?.addEventListener("mouseleave", function () {
        dropdownMenu?.classList.remove("opacity-100", "visible");
        dropdownMenu?.classList.add("opacity-0", "invisible");
    });
</script>
